<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<title>
			{{title}}
			| Frontend Mentor | Four Card Feature Component | Nodejs - Express -
			Handlebars
		</title>

		<!-- Core Meta Data -->
		<meta
			name='description'
			content='Frontend Mentor - Four card feature section solution.'
		/>
		<meta
			name='keywords'
			content='Frontend Mentor, Four card feature section'
		/>

		<!-- Behavioral Meta Data -->
		<meta name='viewport' content='width=device-width,initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />

		<!-- Favicon -->
		<link
			rel='icon'
			type='image/png'
			sizes='32x32'
			href='favicon-32x32.png'
		/>

		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap'
			rel='stylesheet'
		/>

		<!-- Styles -->
		<link rel='stylesheet' href='css/main.css' />
	</head>
	<body>
		<header>
			<h1 class='sr-only'>Four card feature component</h1>
		</header>

		<main>
			<div class='container'>
				{{{body}}}
			</div>
		</main>

		<footer>
			<div class='container'>
				<p>
					Challenge by
					<a
						href='https://www.frontendmentor.io?ref=challenge'
						class='btn btn--link'
						rel='noopener'
						target='_blank'
					>Frontend Mentor</a>. Coded by
					<a
						href='https://github.com/al3xback'
						class='btn btn--link'
						rel='noopener'
						target='_blank'
					>al3xback</a>.
				</p>
			</div>
		</footer>
	</body>
</html>
